﻿<meta charset="UTF-8">
<div class="generic-container">

	<div class="panel panel-default">

		<div class="panel-heading">
			<span class="lead">Õpilaste hinded ja nende kaalutud keskmised</span>
		</div>

		<table class="table table-hover" style="border-radius: 15px">
			<tbody>
				<tr>
					<td><strong>Eesnimi</strong></td>
					<td><strong>Perenimi</strong></td>
					<td><strong>Kaalutud keskmine</strong></td>
				</tr>
				<tr ng-repeat="u in ctrl.avgStudent | orderBy:'id'">
					<td><a ng-bind="u.firstName" href="#/studentGrades"
						ng-click="ctrl.getStudentGrades(u.id, u.firstName, u.lastName)"></a></td>
					<td><a ng-bind="u.lastName" href="#/studentGrades"
						ng-click="ctrl.getStudentGrades(u.id, u.firstName, u.lastName)"></a></td>
					<td ng-bind="u.avgGrade"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>