﻿<meta charset="UTF-8">
<div class="generic-container">

	<div class="panel panel-default">

		<div class="panel-heading">
			<span class="lead">Õpilase {{ctrl.firstName}}
				{{ctrl.lastName}} hinded</span>
			<div>
				<button style="float: right; margin-top: -32px"
					onclick="naitaVormi()" ng-click="ctrl.reset()"
					class="btn btn-success custom-width">+ Lisa hinne</button>
			</div>
		</div>

		<table class="table table-hover" style="border-radius: 15px">
			<tbody>
				<tr>
					<td><strong>Hinne</strong></td>
					<td><strong>Kaal(EAP)</strong></td>
					<td><strong>Õppeaine</strong></td>
					<td><strong>Muuda</strong></td>
					<td><strong>Kustuta</strong></td>
				</tr>
				<tr ng-repeat="u in ctrl.studentGrades | orderBy:'id'">
					<td>{{u.grade}}</td>
					<td>{{u.weight}}</td>
					<td>{{u.subject.name}}</td>
					<td><input type="image"
						src='https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/256/edit.png'
						width="20px" height="20px" alt="Muuda" ng-click="ctrl.muuda(u.id)"></input></td>
					<td><input type="image"
						src='https://cdn4.iconfinder.com/data/icons/devine_icons/128/PNG/Folder%20and%20Places/Trash-Recyclebin-Empty-Closed.png'
						width="20px" height="20px" alt="Kustuta"
						ng-click="ctrl.kustuta(u.id)"></input></td>
				</tr>
			</tbody>
		</table>

		<div id="lisaVorm" class="panel panel-default"
			style="display: none; margin-top: 20px; margin-bottom: 0px">
			<div class="panel-heading">
				<span class="lead">Hinde vorm</span>
			</div>
			<div class="formcontainer" style="margin-top: 10px;">
				<form ng-submit="ctrl.submit()" name="myForm"
					class="form-horizontal">
					<input type="hidden" ng-model="ctrl.studentGrade.id" />
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable">Hinne</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.studentGrade.grade"
									class=" form-control input-sm" placeholder="Sisesta hinne"
									required ng-minlength="1" />

							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="uname">Kaal(EAP)</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.studentGrade.weight"
									class=" form-control input-sm" placeholder="Sisesta kaal(EAP)"
									required ng-minlength="1" />

							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="uname">Õppeaine</label>
							<div class="col-md-7">
								<select ng-model="ctrl.studentGrade.subject"
									ng-options="subject as subject.name for subject in ctrl.subjects track by subject.name"
									class=" form-control input-sm">
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit"
								value="{{!ctrl.studentGrade.id ? 'Lisa' : 'Muuda'}}"
								class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
							<button type="button" ng-click="ctrl.reset()"
								class="btn btn-warning btn-sm">Tühjenda väljad</button>
							<button type="button" onclick="naitaVormi()"
								class="btn btn-warning btn-sm" ng-click="ctrl.reset()">Sulge
								vorm</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>